.mainwrapper {
    margin-top: 6em;
}

.itemDescription {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
}
.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cartItem img {
    margin-right: 10px;
}